<div class="container">

	<div class="box">
		<h2>Hello there!</h2>
		<p>I'm a French developer currently working in Montréal Canada.</p>
		
		<div class="label">nodejs</div>
		<div class="label">php</div>
		<div class="label">php</div>
		<div class="label">php</div>
		<div class="label hidden">php</div>
		<div class="label hidden">php</div>
		<div class="label hidden">php</div>
		<div class="label hidden">php</div>
		<div class="label hidden">php</div>
		<div class="label hidden">php</div>
		<div class="label showAllLabel">more...</div>
	</div>
</div>