<div class="container">

	<div class="box main">
		<h1 class="title-greetings">Hello I'm Martin</h1>
		<h2 class="title-roles">And I'm <span class="roles">a fullstack developer</span></h2>

		<p>
			I'm <i>writting code</i> since 2008. I usually play with <span class="keyword">php</span> , <span class="keyword">nodejs</span>, <span class="keyword">angular</span>, <span class="keyword">ember</span> or <span class="keyword">react</span>.
		</p>
		<a href="/resume">resum&eacute;</a>
	</div>
</div>
