<div class="container">

  <h1>Martin FRAPPAT</h1>

  <section>
    <h2>Experience</h2>

    <article>
      <h3 class='togglable'>Fullstack Developper - <a href="http://koolicar.com">Koolicar</a></h3>
      <span class="date">July 2015 - Current (7month)</span>
      <p>
        Koolicar is a car-sharing platform without keys exchange.
      </p>

      <p>- Integration of the new design of the B2B webapp:<br>
        My first project was to integrate the new design and therefore improve the user experience
        and help the sales team to sign more contracts. I used AngularJS with both internal and external APIs.
        Only 1 month after the deployment of the new version, our efforts and improvements paid back :
        we won several new contacts (national and international clients).
      </p>
      <p>
        - Development of an internal statistics tool:
        This tool, built with NodeJS/ES6/Grunt/Graph.js (with an homemade wrapper),
        is used mainly by the marketing team to target our customers with new offers
        or by developers to gauge the impact of new features. The app runs on Heroku
        and a RDS instance.
      </p>
    </article>

    <article>
      <h3 class='togglable'>Fullstack Developper - <a href="http://lunettespourtous.com">Lunettes Pour Tous</a></h3>
      <span class="date">Febuary 2014 - Sept. 2014</span>
      <p>LunettesPourTous is a French start-up which drastically transformed the optical market as soon as the project started similar to Free in the internet and mobile market. It reduced the cost of a pair of glasses by 80x. I was the first developer of the company.</p>

      <p>- Design, integration and development of an e-commerce website with Symfony2 (lulufrenchie.com):<br>
      Working closely with the sales team helped me to develop a website complying with their needs.<br>
      I created a Javascript module to personalize glasses with stickers, user photo, text ... which render an image send to an industrial printer.<br>
      The one-page checkout was the main challenge, regarding the UI/UX as well as the backend requests to the different payment providers (paypal, be2bill ...).<br>
      The new functionalities of the website attracted more customers and impacted the sales positively. We noticed a great increase of the sales. Our unique process allowed us to reach a 90% efficiency, 9 out of 10 orders were delivered within 24h.</p>

      <p>- Project management of an iPad application :<br>
      The app was developed by an external company.<br>
      I was in charge of the communication between the two company, drafting of the specifications, planning and development of real life test, formation of 40 salespersons, working on the UX to allow us to sell a pair of glasses in less than 10 minutes.</p>

      <p>- Installation and administration of servers:<br>
      I installed several servers from scratch with different specifications from simple webserver (apache, php, mysql) to servers communicating to industrial devices through several API (SOAP and REST)</p>


      <p>Working in a startup is a real challenge I enjoyed. It taught me to take initiative, to go out of my comfort zone and gather information on my own and my free time in order to help others.<br>
      The thing with a new launched company is that you are evolving with it as you make improvement for the company.</p>
    </article>

    <article>
      <h3 class='togglable'>Co-founder & wizard developer - WebIn Agency</h3>
      <span class="date">June 2012 - Febuary 2014</span>
      <p>WebIn Agency was a company which aimed to help entrepreneur developing their business online</p>

      <p>
        Project management: from specifications to the deployment.<br>
        Developement: frontend, backend, API, database.<br>
        System administration: nginx, apache, mongodb, mysql, version control, bug tracking ...
      </p>


    </article>
  </section>
  
  <section>

    <h2>Education</h2>

    <article>
      <h3 class='togglable'>Bachelor Degree with Honors in Computer Science - <a href="http://supinfo.eu">SupInfo</a></h3>
      <span class="date">2011 - 2013</span>
    </article>

    <article>
      <h3 class='togglable'>Bachelor Degree in Computer Science - <a href="http://epitech.eu">Epitech</a></h3>
      <span class="date">2008 - 2011</span>
    </article>

  </section>
</div>
